<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="./embed/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="Highlight-Blue.css" />
    <link rel="stylesheet" href="Projects-Clean.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body class="text-secondary">
    <div class="highlight-blue" style="background-color: rgb(255,255,255);background-image: url('mission_to_mars.png');background-position: center;background-size: contain;color: rgb(195,18,28);font-size: 48px;filter: blur(0px) saturate(94%);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Mission to Mars</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-outline-secondary active btn-lg" role="button" href="#">SCRAPE</a></div>
        </div>
    </div>
    <div class="projects-clean">
        <div class="container">
            <div class="intro"></div>
            <div class="row projects">
                <div class="col-sm-6 col-lg-4 item">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><img class="img-fluid" src="desk.jpg" />
                    <h3 class="name">Project Name</h3>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><img class="img-fluid" src="building.jpg" />
                    <h3 class="name">Project Name</h3>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><img class="img-fluid" src="loft.jpg" />
                    <h3 class="name">Project Name</h3>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><img class="img-fluid" src="minibus.jpeg" />
                    <h3 class="name">Project Name</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>